#snackbar {
    top: 30px;
    left: 50%;
    z-index: 1;
    padding: 12px;
    font-size: 12px;
    position: fixed;
    color: #b1b1b1;
    min-width: 250px;
    text-align: center;
    visibility: hidden;
    border-radius: 24px;
    margin-left: -125px;
    background-color: #333;

    &.show {
        visibility: visible;
        animation: fadeinDesk 0.5s, fadeoutDesk 0.5s 2.5s;
        -webkit-animation: fadeinDesk 0.5s, fadeoutDesk 0.5s 2.5s;    

        @media screen and (max-width: 768px) {
            animation: fadeinMobile 0.5s, fadeoutMobile 0.5s 2.5s;
            -webkit-animation: fadeinMobile 0.5s, fadeoutMobile 0.5s 2.5s;    
        }
    }

    &.error {
        color: #fff;
        background-color: #ff3333;
    }

    @media screen and (max-width: 768px) {
        top: unset;
        bottom: 30px;
    }
}

@-webkit-keyframes fadeinDesk {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@keyframes fadeinDesk {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeoutDesk {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeoutDesk {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@-webkit-keyframes fadeinMobile {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeinMobile {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeoutMobile {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeoutMobile {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}